<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satori-Julia</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src='/js/app.js'></script>
  </head>
  <body>
    <h1 class="title">ジュリア集合</h1>
    <h2> <%= @number %></h2>
    <form id="form-julia">
      <input type='text' id='input-minx' name="minx">
      <input type='text' id='input-maxx' name="maxx"><br>
      <input type='text' id='input-miny' name="miny">
      <input type='text' id='input-maxy' name="maxy"><br>
      <input type='text' id='input-comp-const' name="complex">
      <button id='button' type="submit">送信</button>
    </form>
    <canvas id="julia-canvas" width="600" height="600"></canvas>
  </body>
</html>